<% include ./partials/header %>


<form action="/pay" method="POST">
    <div class="container">
    <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <h1>Checkout</h1>
        <h4>Your Total: </h4>
        <form action="/send" method="post" id="checkout-form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Amount</label>
                        <input type="text" id="total" name="amount" class="form-control" readonly value=<%= total %>>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" required name="name">
                    </div>
                </div>
                <hr>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="Contact">Contact Number</label>
                        <input type="tel" id="Contact" class="form-control" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Buy now</button>
        </form>
    </div>
</div>
</div>
</form>

<script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>




<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="javascripts/checkout.js"></script>


<% include ./partials/footer %>