<% include ./partials/header2 %>
<link rel="stylesheet" type="text/css" href="/stylesheets/style3.css">

<div class="container">
    <h1 class="brand"><span>SWISSTIME</span></h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>SWISSTIME</h3>
        <ul>
          <li><i class="fa fa-road"></i>NSIT Admin</li>
          <li><i class="fa fa-phone"></i> (555) 555-5555</li>
          <li><i class="fa fa-envelope"></i>feedback@swisstime.com</li>
        </ul>
      </div>
      <div class="contact">
        <h3>SIGN UP</h3>
        <form action="/signup" method="POST">
          <p>
            <label>Email</label>
            <input type="text" name="username" placeholder="Username">
          </p>
          <p>
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
          </p>
          <p class="full">
            <button>Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>

<% include ./partials/footer %>