<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
     <h1>THE USERNAME IS ALREADY REGISTERED</h1>
     <form action="/signup" method="POST">
     	<button type="submit">Go To SignUp Page</button>
     </form>
</body>
</html>